In [1]:
import numpy as np

In [2]:
np.set_printoptions(suppress=True, linewidth=100, precision = 2)

In [3]:
raw_data = np.genfromtxt("C:\\Users\\User\\Downloads\\loan-data.csv", delimiter=';', autostrip=True, skip_header=1)
raw_data

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [4]:
np.isnan(raw_data).sum()

88005

In [5]:
temporary_fill = np.nanmax(raw_data) + 1
temporary_mean = np.nanmean(raw_data, axis=0)

C:\Users\User\AppData\Local\Temp\ipykernel_8476\3886195131.py:2: RuntimeWarning: Mean of empty slice
  temporary_mean = np.nanmean(raw_data, axis=0)

In [6]:
column_string = np.argwhere(np.isnan(temporary_mean)).squeeze()
column_string

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [7]:
column_numeric = np.argwhere(np.isnan(temporary_mean)==False).squeeze()
column_numeric

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

In [8]:
loan_data_string = np.genfromtxt("C:\\Users\\User\\Downloads\\loan-data.csv", 
                                 delimiter=';', 
                                 autostrip=True, 
                                 skip_header=1,
                                 usecols= column_string,
                                 dtype = np.str)
loan_data_string

C:\Users\User\AppData\Local\Temp\ipykernel_8476\681861416.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str)

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [9]:
loan_data_numeric = np.genfromtxt("C:\\Users\\User\\Downloads\\loan-data.csv", 
                                 delimiter=';', 
                                 autostrip=True, 
                                 skip_header=1,
                                 usecols= column_numeric,
                                 filling_values= temporary_fill)
loan_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [10]:
header_full = np.genfromtxt("C:\\Users\\User\\Downloads\\loan-data.csv", 
                                 delimiter=';', 
                                 autostrip=True, 
                                 skip_footer= raw_data.shape[0],
                                 dtype = np.str)
header_full

C:\Users\User\AppData\Local\Temp\ipykernel_8476\3479506848.py:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str)

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [11]:
header_string, header_numeric = header_full[column_string], header_full[column_numeric]

In [12]:
header_string

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [13]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# Creating Checkpoint

In [14]:
def checkpoint(filename, checkpoint_header, checkpoint_data):
    np.savez(filename, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variables = np.load(filename + '.npz')
    return checkpoint_variables

In [105]:
checkpoint_test = checkpoint('checkpoint_test', header_string, loan_data_string)

In [ ]:
checkpoint_test['header']

In [ ]:
checkpoint_test['data']

In [ ]:
np.array_equal(checkpoint_test['data'], loan_data_string)

# Manipulating Text Data

In [16]:
header_string[0] = 'Issue_date'

In [17]:
loan_data_string[:,0]

array(['May-15', '', 'Sep-15', ..., 'Jun-15', 'Apr-15', 'Dec-15'], dtype='<U69')

In [18]:
np.unique(loan_data_string[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [19]:
np.chararray.strip(loan_data_string[:,0], '-15')

chararray(['May', '', 'Sep', ..., 'Jun', 'Apr', 'Dec'], dtype='<U69')

In [20]:
loan_data_string[:,0] = np.chararray.strip(loan_data_string[:,0], '-15')

In [21]:
np.unique(loan_data_string[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'],
      dtype='<U69')

In [22]:
month = np.array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

In [23]:
for i in range (13):
    loan_data_string[:,0] = np.where(loan_data_string[:,0] == month[i],
                                     i,
                                     loan_data_string[:,0])

In [24]:
np.unique(loan_data_string[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

In [25]:
header_string

array(['Issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [26]:
np.unique(loan_data_string[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
       'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [27]:
np.unique(loan_data_string[:,1]).size

9

In [28]:
status_bad  = np.array(['', 'Charged Off', 'Default', 'Late (31-120 days)'])

In [29]:
loan_data_string[:,1] = np.where(np.isin(loan_data_string[:,1], status_bad),0,1)

In [30]:
np.unique(loan_data_string[:,1])

array(['0', '1'], dtype='<U69')

In [31]:
header_string

array(['Issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [32]:
loan_data_string[:,2]

array(['36 months', '36 months', '36 months', ..., '36 months', '36 months', '36 months'],
      dtype='<U69')

In [33]:
np.unique(loan_data_string[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [34]:
loan_data_string[:,2] = np.chararray.strip(loan_data_string[:,2], 'months')

In [35]:
np.unique(loan_data_string[:,2])

array(['', '36 ', '60 '], dtype='<U69')

In [36]:
header_string[2] = 'term_month'

In [37]:
loan_data_string[:,2] = np.where(loan_data_string[:,2] == '',
                                 '60',
                                 loan_data_string[:,2])
loan_data_string[:,2]

array(['36 ', '36 ', '36 ', ..., '36 ', '36 ', '36 '], dtype='<U69')

In [38]:
np.unique(loan_data_string[:,2])

array(['36 ', '60', '60 '], dtype='<U69')

# Grade and SubGrade

In [39]:
header_string

array(['Issue_date', 'loan_status', 'term_month', 'grade', 'sub_grade', 'verification_status',
       'url', 'addr_state'], dtype='<U19')

In [40]:
loan_data_string[:,3]

array(['C', 'A', 'B', ..., 'A', 'D', 'A'], dtype='<U69')

In [41]:
np.unique(loan_data_string[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [42]:
loan_data_string[:,4]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [43]:
np.unique(loan_data_string[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

In [44]:
for i in np.unique(loan_data_string[:,3])[1:]:
    loan_data_string[:,4] = np.where((loan_data_string[:,4] == '',) & (loan_data_string[:,3] == i),
                                    i + '5',
                                    loan_data_string[:,4])

In [45]:
np.unique(loan_data_string[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

In [46]:
np.unique(loan_data_string[:,4], return_counts = True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
        'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
        'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267,
        250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5],
       dtype=int64))

In [47]:
loan_data_string[:,4] = np.where((loan_data_string[:,4] == ''),
                                'H1',
                                 loan_data_string[:,4])

In [48]:
np.unique(loan_data_string[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

# Removing Grades

In [49]:
loan_data_string = np.delete(loan_data_string, 3, axis=1)

In [50]:
loan_data_string[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [51]:
header_string = np.delete(header_string, 3)

In [52]:
header_string[3]

'sub_grade'

# Converting Subgrade

In [53]:
np.unique(loan_data_string[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [54]:
np.unique(loan_data_string[:,3]).size

36

In [55]:
keys = list(np.unique(loan_data_string[:,3]))
values = list(range(1, np.unique(loan_data_string[:,3]).shape[0] + 1))
dict_subgrade = dict(zip(keys, values))

In [56]:
dict_subgrade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [57]:
for i in np.unique(loan_data_string[:,3]):
    loan_data_string[:,3] = np.where(loan_data_string[:,3] == i,
                                     dict_subgrade[i],
                                     loan_data_string[:,3])

In [58]:
np.unique(loan_data_string[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
       '4', '5', '6', '7', '8', '9'], dtype='<U69')


# Verification Status

In [59]:
header_string

array(['Issue_date', 'loan_status', 'term_month', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [60]:
np.unique(loan_data_string[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [61]:
loan_data_string[:,4] = np.where((loan_data_string[:,4] =='') | (loan_data_string[:,4] == 'Not Verified'), 0, 1)

In [62]:
np.unique(loan_data_string[:,4])

array(['0', '1'], dtype='<U69')

# URL

In [63]:
np.unique(loan_data_string[:,5])

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=12606806',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=13026045',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1312426', ...,
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8138291',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8214572',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=849994'], dtype='<U69')

In [64]:
np.chararray.strip(loan_data_string[:,5], 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=')

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'],
          dtype='<U69')

In [65]:
loan_data_string[:,5] = np.chararray.strip(loan_data_string[:,5], 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=')

In [66]:
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [67]:
loan_data_numeric[:,0].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [68]:
loan_data_string[:,5].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [69]:
np.array_equal(loan_data_numeric[:,0].astype(dtype = np.int32), loan_data_string[:,5].astype(dtype = np.int32))

True

In [70]:
loan_data_string = np.delete(loan_data_string, 5, axis=1)
header_string = np.delete(header_string, 5)

In [71]:
loan_data_string[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [72]:
header_string[5]

'addr_state'

In [73]:
loan_data_numeric[:,0]

array([48010226., 57693261., 59432726., ..., 50415990., 46154151., 66055249.])

In [74]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# State Address

In [75]:
header_string[5] = 'state_address'

In [76]:
loan_data_string[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [77]:
np.unique(loan_data_string[:,5])

array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69')

In [78]:
np.unique(loan_data_string[:,5]).size

50

In [79]:
np.unique(loan_data_string[:,5], return_counts=True)

(array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
        'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
        'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
        'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69'),
 array([ 500,   26,  119,   74,  220, 1336,  201,  143,   27,   27,  690,  321,   44,  389,  152,
          84,   84,  116,  210,  222,   10,  267,  156,  160,   61,   28,  261,   16,   25,   58,
         341,   57,  130,  777,  312,   83,  108,  320,   40,  107,   24,  143,  758,   74,  242,
          17,  216,  148,   49,   27], dtype=int64))

In [80]:
state_names, state_counts = np.unique(loan_data_string[:,5], return_counts=True)
state_counts_sorted = np.argsort(-state_counts)
state_names[state_counts_sorted], state_counts[state_counts_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ',
        'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY',
        'KS', 'OK', 'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK',
        'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,
         216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,
          84,   83,   74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,
          25,   24,   17,   16,   10], dtype=int64))

In [81]:
loan_data_string[:,5] = np.where(loan_data_string[:,5] == '',
                                 0,
                                 loan_data_string[:,5])

In [84]:
states_west = np.array(['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM', 'HI', 'AK'])
states_south = np.array(['TX', 'OK', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'FL', 'GA', 'SC', 'NC', 'VA', 'WV', 'MD', 'DE', 'DC'])
states_midwest = np.array(['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH'])
states_east = np.array(['PA', 'NY', 'NJ', 'CT', 'MA', 'VT', 'NH', 'ME', 'RI'])

In [85]:
loan_data_string[:,5] = np.where(np.isin(loan_data_string[:,5], states_west), 1, loan_data_string[:,5])
loan_data_string[:,5] = np.where(np.isin(loan_data_string[:,5], states_south), 2, loan_data_string[:,5])
loan_data_string[:,5] = np.where(np.isin(loan_data_string[:,5], states_midwest), 3, loan_data_string[:,5])
loan_data_string[:,5] = np.where(np.isin(loan_data_string[:,5], states_east), 4, loan_data_string[:,5])

In [87]:
np.unique(loan_data_string[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

# Converting to Numbers

In [88]:
loan_data_string

array([['5', '1', '36 ', '13', '1', '1'],
       ['0', '1', '36 ', '5', '1', '4'],
       ['9', '1', '36 ', '10', '1', '4'],
       ...,
       ['6', '1', '36 ', '5', '1', '1'],
       ['4', '1', '36 ', '17', '1', '3'],
       ['12', '1', '36 ', '4', '0', '3']], dtype='<U69')

In [90]:
loan_data_string = loan_data_string.astype(np.int)

C:\Users\User\AppData\Local\Temp\ipykernel_8476\821450133.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  loan_data_string = loan_data_string.astype(np.int)

In [91]:
loan_data_string

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

# Checkpoint 1: Strings

In [92]:
checkpoint('checkpoint_strings', header_string, loan_data_string)

In [93]:
checkpoint_strings = checkpoint('checkpoint_strings', header_string, loan_data_string)

In [94]:
checkpoint_strings['header']

array(['Issue_date', 'loan_status', 'term_month', 'sub_grade', 'verification_status',
       'state_address'], dtype='<U19')

In [95]:
checkpoint_strings['data']

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [97]:
np.array_equal(checkpoint_strings['data'], loan_data_string)

True

# Manipulating Numeric Values

In [98]:
loan_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [99]:
np.isnan(loan_data_numeric).sum()

0

# Substituting Filler Values

In [100]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# ID

In [101]:
temporary_fill

68616520.0

In [102]:
np.isin(loan_data_numeric[:,0], temporary_fill)

array([False, False, False, ..., False, False, False])

In [103]:
np.isin(loan_data_numeric[:,0], temporary_fill).sum()

0

In [104]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# Temporary Stat

In [115]:
temporary_stats = np.array([np.nanmin(raw_data, axis=0),
                            temporary_mean,
                            np.nanmax(raw_data, axis=0)])

C:\Users\User\AppData\Local\Temp\ipykernel_8476\3979269000.py:1: RuntimeWarning: All-NaN slice encountered
  temporary_stats = np.array([np.nanmin(raw_data, axis=0),
C:\Users\User\AppData\Local\Temp\ipykernel_8476\3979269000.py:3: RuntimeWarning: All-NaN slice encountered
  np.nanmax(raw_data, axis=0)])

In [116]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [117]:
temporary_stats[:, column_numeric]

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

# Funded Amount

In [118]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [119]:
loan_data_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

In [120]:
loan_data_numeric[:,2] = np.where(loan_data_numeric[:,2] == temporary_fill,
                                 temporary_stats[0, column_numeric[2]],
                                 loan_data_numeric[:,2])
loan_data_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

# Loan Amount, Interest Rate, Installment and Total Payment

In [240]:
for i in [1,3,4,5]:
    loan_data_numeric[:,i] = np.where(loan_data_numeric[:,i] == temporary_fill,
                                 temporary_stats[2, column_numeric[i]],
                                 loan_data_numeric[:,i])

In [241]:
loan_data_numeric

array([[48010226.  ,    35000.  ,     8624.69, ...,    35000.  ,     1184.86,    31933.3 ],
       [57693261.  ,    30000.  ,     4232.39, ...,    30000.  ,      938.57,    27132.46],
       [59432726.  ,    15000.  ,     1750.04, ...,    15000.  ,      494.86,    13326.3 ],
       ...,
       [50415990.  ,    10000.  ,     1947.47, ...,    10000.  ,    35000.  ,     8910.3 ],
       [46154151.  ,    35000.  ,     2878.63, ...,    10000.  ,      354.3 ,     8997.4 ],
       [66055249.  ,    10000.  ,      276.11, ...,    10000.  ,      309.97,     9145.8 ]])

# Currency Change

 The Exchange Rate

In [207]:
EUR_USD = np.genfromtxt("C:\\Users\\User\\Downloads\\EUR-USD.csv",
                       delimiter=',',
                        autostrip=True,
                       skip_header=1,
                       usecols=3)
EUR_USD

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [208]:
loan_data_string[:,0]

array([ 5,  0,  9, ...,  6,  4, 12])

In [209]:
exchange_rate = loan_data_string[:,0]

for i in range(1,13):
    exchange_rate = np.where(exchange_rate == i,
                            EUR_USD[i-1],
                            exchange_rate)
exchange_rate = np.where(exchange_rate == 0,
                        np.mean(EUR_USD),
                        exchange_rate)

exchange_rate

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [210]:
exchange_rate.shape

(10000,)

In [211]:
loan_data_numeric.shape

(10000, 11)

In [212]:
exchange_rate = np.reshape(exchange_rate,(10000,1))

In [213]:
loan_data_numeric = np.hstack((loan_data_numeric, exchange_rate))

In [214]:
header_numeric = np.concatenate((header_numeric, np.array(['exchange_rate'])))
header_numeric

array(['id', 'loan_amnt_USD_USD', 'installment_EUR', 'loan_amnt_EUR_USD', 'total_pymnt_USD',
       'funded_amnt_USD', 'funded_amnt_EUR_USD', 'total_pymnt_EUR', 'int_rate_USD',
       'exchange_rate', 'installment_USD', 'exchange_rate'], dtype='<U19')

# From USD to EUR

In [215]:
header_numeric

array(['id', 'loan_amnt_USD_USD', 'installment_EUR', 'loan_amnt_EUR_USD', 'total_pymnt_USD',
       'funded_amnt_USD', 'funded_amnt_EUR_USD', 'total_pymnt_EUR', 'int_rate_USD',
       'exchange_rate', 'installment_USD', 'exchange_rate'], dtype='<U19')

In [216]:
column_dollar = np.array([1,2,4,5])

In [217]:
loan_data_numeric[:, [column_dollar]]

array([[[35000.  ,  1081.04,  9452.96, 35000.  ]],

       [[30000.  ,   848.86,  4679.7 , 30000.  ]],

       [[15000.  ,   439.64,  1969.83, 15000.  ]],

       ...,

       [[10000.  , 31186.05,  2185.64, 10000.  ]],

       [[35000.  ,   318.78,  3199.4 , 10000.  ]],

       [[10000.  ,   283.49,   301.9 , 10000.  ]]])

In [218]:
loan_data_numeric[:,6]

array([31933.3 , 27132.46, 13326.3 , ...,  8910.3 ,  8997.4 ,  9145.8 ])

In [219]:
for i in column_dollar:
    loan_data_numeric= np.hstack((loan_data_numeric, np.reshape(loan_data_numeric[:,i] / loan_data_numeric[:,6], (10000,1))))

In [220]:
loan_data_numeric

array([[48010226.  ,    35000.  ,     1081.04, ...,        0.03,        0.3 ,        1.1 ],
       [57693261.  ,    30000.  ,      848.86, ...,        0.03,        0.17,        1.11],
       [59432726.  ,    15000.  ,      439.64, ...,        0.03,        0.15,        1.13],
       ...,
       [50415990.  ,    10000.  ,    31186.05, ...,        3.5 ,        0.25,        1.12],
       [46154151.  ,    35000.  ,      318.78, ...,        0.04,        0.36,        1.11],
       [66055249.  ,    10000.  ,      283.49, ...,        0.03,        0.03,        1.09]])

In [221]:
loan_data_numeric.shape

(10000, 16)

In [222]:
header_additional = np.array([column_name + '_EUR' for column_name in header_numeric[column_dollar]])

In [223]:
header_additional

array(['loan_amnt_USD_USD_EUR', 'installment_EUR_EUR', 'total_pymnt_USD_EUR',
       'funded_amnt_USD_EUR'], dtype='<U21')

In [224]:
header_numeric = np.concatenate((header_numeric, header_additional))

In [225]:
header_numeric

array(['id', 'loan_amnt_USD_USD', 'installment_EUR', 'loan_amnt_EUR_USD', 'total_pymnt_USD',
       'funded_amnt_USD', 'funded_amnt_EUR_USD', 'total_pymnt_EUR', 'int_rate_USD',
       'exchange_rate', 'installment_USD', 'exchange_rate', 'loan_amnt_USD_USD_EUR',
       'installment_EUR_EUR', 'total_pymnt_USD_EUR', 'funded_amnt_USD_EUR'], dtype='<U21')

In [226]:
header_numeric[column_dollar] = np.array([column_name + '_USD' for column_name in header_numeric[column_dollar]])

In [227]:
header_numeric

array(['id', 'loan_amnt_USD_USD_USD', 'installment_EUR_USD', 'loan_amnt_EUR_USD',
       'total_pymnt_USD_USD', 'funded_amnt_USD_USD', 'funded_amnt_EUR_USD', 'total_pymnt_EUR',
       'int_rate_USD', 'exchange_rate', 'installment_USD', 'exchange_rate',
       'loan_amnt_USD_USD_EUR', 'installment_EUR_EUR', 'total_pymnt_USD_EUR',
       'funded_amnt_USD_EUR'], dtype='<U21')

In [228]:
columns_index_order = [0,1,7,2,8,3,4,9,5,10,6]

In [229]:
header_numeric = header_numeric[columns_index_order]

In [230]:
loan_data_numeric

array([[48010226.  ,    35000.  ,     1081.04, ...,        0.03,        0.3 ,        1.1 ],
       [57693261.  ,    30000.  ,      848.86, ...,        0.03,        0.17,        1.11],
       [59432726.  ,    15000.  ,      439.64, ...,        0.03,        0.15,        1.13],
       ...,
       [50415990.  ,    10000.  ,    31186.05, ...,        3.5 ,        0.25,        1.12],
       [46154151.  ,    35000.  ,      318.78, ...,        0.04,        0.36,        1.11],
       [66055249.  ,    10000.  ,      283.49, ...,        0.03,        0.03,        1.09]])

In [231]:
loan_data_numeric = loan_data_numeric[:, columns_index_order]

# Interest Rate

In [232]:
header_numeric

array(['id', 'loan_amnt_USD_USD_USD', 'total_pymnt_EUR', 'installment_EUR_USD', 'int_rate_USD',
       'loan_amnt_EUR_USD', 'total_pymnt_USD_USD', 'exchange_rate', 'funded_amnt_USD_USD',
       'installment_USD', 'funded_amnt_EUR_USD'], dtype='<U21')

In [233]:
loan_data_numeric

array([[48010226.  ,    35000.  ,     8624.69, ...,    35000.  ,     1184.86,    31933.3 ],
       [57693261.  ,    30000.  ,     4232.39, ...,    30000.  ,      938.57,    27132.46],
       [59432726.  ,    15000.  ,     1750.04, ...,    15000.  ,      494.86,    13326.3 ],
       ...,
       [50415990.  ,    10000.  ,     1947.47, ...,    10000.  ,    35000.  ,     8910.3 ],
       [46154151.  ,    35000.  ,     2878.63, ...,    10000.  ,      354.3 ,     8997.4 ],
       [66055249.  ,    10000.  ,      276.11, ...,    10000.  ,      309.97,     9145.8 ]])

In [234]:
loan_data_numeric[:,5]

array([31933.3 , 27132.46, 13326.3 , ...,  8910.3 , 31490.9 ,  9145.8 ])

In [245]:
loan_data_numeric[:,5] = loan_data_numeric[:,5]/100

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [244]:
loan_data_numeric

array([319.33, 271.32, 133.26, ...,  89.1 , 314.91,  91.46])